<%= form_for([:admin, @video], html: { class: "form-horizontal" }) do |f| %>
  <% if @video.errors.any? %>
    <div class="alert alert-error">
      <ul class="unstyled">
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'input-xxlarge'  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :youtube_id, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :youtube_id, class: 'input-xxlarge'  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :artist, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :artist_name, class: 'input-xxlarge', data: { autocomplete_source: autocomplete_admin_artists_path }  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :published, class: 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :published %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
